In [11]:
import pandas as pd
from datetime import datetime, date

index = 'NIFTY 50_Data_from 2005.csv'
start_date = date(2019,5,1)

def load_index_data():
    df = pd.read_csv(index)
    df['Date'] = pd.to_datetime(df['Date'], format='%d-%b-%y')
    df = df[df['Date'] >= pd.Timestamp(start_date)]
    df.drop(['Open','High','Low'], axis=1, inplace=True)
    return df

In [12]:
index_df = load_index_data()
index_df.reset_index(inplace=True,drop=True)
index_df.head()

        Date     Close
0 2019-07-26  11284.30
1 2019-07-25  11252.15
2 2019-07-24  11271.30
3 2019-07-23  11331.05
4 2019-07-22  11346.20